/*
Colors

Neutral
--very_dark_blue_main_BG:#0b162d;
--very_dark_blue_card_BG:#14243c;
--very_dark_blue_line:#2f415b;
--white:#ffffff;

Primary
--Soft_blue:#8cacda;
--Cyan:#01fff7;
*/
:root {
  --very_dark_blue_main_BG:#0b162d;
  --very_dark_blue_card_BG:#14243c;
  --very_dark_blue_line:#2f415b;
  --white:#ffffff;
  --shadow-dark:#000000;
  --Soft_blue:#8cacda;
  --Cyan:#01fff7;
  --line:1px solid #2f415b;
  --line-white:1px solid #ffffff; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 90%; }

body {
  background-color: var(--very_dark_blue_card_BG);
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 2rem; }

.nft__item {
  max-width: 45rem;
  margin: 20rem auto;
  width: 450px;
  height: 800px;
  background-color: var(--very_dark_blue_card_BG);
  box-shadow: 0 1.5rem 10rem var(--shadow-dark);
  border-radius: 1.5rem;
  min-height: 6rem; }

.nft__photo {
  margin-left: 30px; }
  .nft__photo img {
    margin-top: 2.5rem;
    border-radius: 1rem; }

.nft__name {
  margin-left: 3rem;
  margin-top: 3rem;
  color: var(--white);
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer; }
  .nft__name:hover {
    color: var(--Cyan); }

.nft__detail {
  margin-left: 3rem;
  margin-top: 2rem;
  color: var(--Soft_blue);
  font-weight: 900;
  font-size: 1.5rem; }

.nft__price {
  margin-left: 3rem;
  margin-top: 2rem;
  color: var(--Cyan);
  font-weight: 900;
  font-size: 1.3rem; }

.nft__date {
  margin-left: 22.5rem;
  margin-top: -2rem;
  color: var(--Soft_blue);
  font-weight: 900;
  font-size: 1.3rem; }

.nft__line {
  border: var(--line);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem; }

.nft__owner {
  margin-left: 3rem;
  margin-top: 1.5rem; }
  .nft__owner img {
    border: 1px solid white;
    border-radius: 100%; }

.nft__owner-name {
  font-size: 1.4rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  color: var(--Soft_blue);
  margin-left: 8rem;
  margin-top: -3.5rem; }
  .nft__owner-name a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400; }
  .nft__owner-name :hover {
    color: var(--Cyan); }
